.demo_text {
  background-color: #eee;
  font-weight:bold;
  text-transform: uppercase;
}



Image {
  margin: 80px 0;
}


.FranklyModulesDemo {
  padding: 20px;
  margin: 20px 0;
  background-color: #eeeeee;
}

.FranklyModulesDemo p {
  font-size: 16px;
}
